@using Web2020Project.Models.MODEL
@model List<Web2020Project.Models.MODEL.BinhLuan>
@{
    ViewBag.Title = "Comment Manage";
    Layout = "~/Views/Shared/Admin/_FramesFull.cshtml";
}

  <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-bar page-header">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="/Admin/Index_Admin">Home</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <a href="#">Danh mục</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li>
                                <a href="/Admin/Comment_Manage">Quản lý bình luận</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-comments"></i>
                            Quản lý bình luận
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên khách hàng</th>
                                        <th>Nội dung</th>
                                        <th>Sản phẩm</th>
                                        <th>Ngày bình luận</th>
                                        <th class="remove" style="text-align: center">Xóa</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (BinhLuan bl in Model)
                                    {

                                        <tr class="odd gradeX">
                                            <td>@bl.MaSanPham</td>
                                            <td>@bl.HoTen</td>
                                            <td>@bl.MaSanPham</td>
                                            <td>@bl.SanPham</td>
                                            <td>@bl.NgayBinhLuan</td>
                                            <td style="text-align: center">
                                                <a data-toggle="modal" data-target="demo1"
                                                   class="btn default btn-xs black btn-delete"><i class="fa fa-trash-o"></i></a>
                                                <div id="demo1" class="modal fade modal-confirm" role="dialog">
                                                    <div class="modal-dialog modal-sm">
                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-body">
                                                                <p class="text-content">Xác nhận xóa bình luận</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" onclick="return location.href='#'" class="btn-cf">Xác nhận</button>
                                                                <button type="button" class="tbn-cancle" data-dismiss="modal">Hủy</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
    </div>