@using Web2020Project.Models.MODEL
@model List<Web2020Project.Models.MODEL.SanPham>
@{
    ViewBag.Title = "Product Manage";
    Layout = "~/Views/Shared/Admin/_FramesFull.cshtml";
}

<div id="page-wrapper">
<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
        <div class="page-bar page-header">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/Admin/Index_Admin">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">Danh mục</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="/Admin/Product_Manage">Quản lý sản phẩm</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
<!-- /.panel-heading -->
<div class="panel-heading  d-flex">
    <div>
        <i class="fa fa-envira"></i>
        Sản Phẩm
    </div>
    <a class="add " data-toggle="modal" data-target="#myModal" href="#">
        <div id="add" class="">
            <i class="fa fa-plus"></i>
            <span>Thêm mới</span>
        </div>
    </a>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">THÊM SẢN PHẨM</h4>
                </div>
                @* <!--                                        <%ChiTietSanPham ctsp = (ChiTietSanPham) request.getAttribute("ctsp");%>--> *@
                <div class="modal-body">
                    <div id="update-info" class="like-form">
                        <form id="form-validate" class="form-style"
                              action="#" method="POST"
                              enctype="multipart/form-data">
                            <ul class="row">
                                <li class="row">
                                <div class="col-sm-4 col-xs-6">
                                    <input type="text" id="name-product"
                                           name="name-product"
                                           value="#">
                                    <label for="name-product">Tên sản phẩm<span>*</span></label>
                                </div>
                                <div class="col-sm-4 col-xs-6">
                                    <select id="type" name="type">
                                        <option value="0">Sản phẩm Mới</option>
                                        <option value="2">Sản phẩm khuyến mãi</option>
                                        <option value="1">Sản phẩm Hot</option>
                                    </select>
                                    <label for="type" class="level-span">Loại</label>
                                </div>
                                <div class="col-sm-4 col-xs-6">
                                    <select id="producer" name="producer">
                                        <option value="#">#</option>
                                    </select>
                                    <label for="producer" class="level-span">
                                        Nhà cung
                                        cấp<span>*</span>
                                    </label>
                                </div>
                                <li class="row">
                                    <div class="col-sm-3 col-xs-6">
                                        <input type="number" id="sale-price" name="sale-price"
                                               value="#">
                                        <label for="sale-price">Giá đã giảm</label>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <input type="number" id="price" name="price"
                                               value="#">
                                        <label for="price">Giá bán</label>
                                    </div>
                                    <div class="col-sm-2 col-xs-6">
                                        <input type="number" id="count-product"
                                               name="count-product"
                                               value="#">
                                        <label for="count-product">Số lượng<span>*</span></label>
                                    </div>
                                    <div class="col-sm-2 col-xs-6">
                                        <input type="file" id="link-img" name="link-img"
                                               accept="image/jpeg, image/png">
                                        <label for="link-img">Hình ảnh</label>
                                    </div>
                                    <div class="col-sm-2 col-xs-6">
                                        <select id="status" name="status">
                                            <option value="2">Mở bán</option>
                                            <option value="1">Gần hết hàng</option>
                                            <option value="0">Ẩn</option>
                                        </select>
                                        <label for="status" class="level-span">
                                            Trạng
                                            thái
                                        </label>
                                    </div>
                                </li>
                            </ul>

                            <ul class="row">
                                <h3 class="col-sm-12"
                                    style="text-align: center;margin-bottom: 20px;color: #215862;font-weight: 600">
                                    Chi tiết sản phẩm
                                </h3>
                                <li class="row">
                                    <div class="col-sm-12 col-xs-6">
                                        <input type="text" id="gift" name="gift"
                                               value="#">
                                        <label for="gift">Quà tặng</label>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <input type="text" id="screen" name="screen"
                                               value="#">
                                        <label for="screen">Màn hình</label>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <input type="text" id="hdh" name="hdh"
                                               value="#">
                                        <label for="hdh">Hệ điều hành</label>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <input type="text" id="cpu" name="cpu"
                                               value="#">
                                        <label for="cpu">CPU</label>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <input type="text" id="ram" name="ram"
                                               value="#">
                                        <label for="ram">RAM</label>
                                    </div>
                                </li>
                                <li class="row">
                                    <div class="col-sm-6 col-xs-6">
                                        <input type="text" id="camera" name="camera"
                                               value="#">
                                        <label for="camera">CAMERA</label>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <input type="text" id="pin" name="pin"
                                               value="#">
                                        <label for="pin">PIN</label>
                                    </div>
                                </li>
                            </ul>
                            <div class="btn-submit">
                                <button type="submit" id="update-btn">Thêm</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<!-- /.panel-heading -->
<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
            <tr>

                <th>STT</th>
                <th>Tên sản phẩm</th>
                <th>Nhà cung cấp</th>
                <th>Giá đã giảm</th>
                <th>Giá bán</th>
                <th>Số lượng</th>
                <th class="remove">Hình ảnh</th>
                <th class="remove">Trạng thái</th>
                <th>Loại</th>
                <th class="remove" style="text-align: center">Sửa</th>
                <th class="remove" style="text-align: center">Xóa</th>
            </tr>
            </thead>
            <tbody>
            @foreach (SanPham sp in Model)
            {
                <tr class="odd gradeX">
                    <td>
                        @sp.MaSanPham
                    </td>
                    <td>
                        @sp.TenSanPham
                    </td>
                    <td>
                        @sp.NhaCungCap
                    </td>
                    <td> @string.Format("{0:0,0đ}", @sp.GiaDaGiam)
                    <!--                                            <%=String.format("%, .0f", sp.getSanPham().getGiaDaGiam())%>đ</td>-->
                    <td> @string.Format("{0:0,0đ}", @sp.GiaBan)
                    <!--                                            <%=String.format("%, .0f", sp.getSanPham().getGiaBan())%>đ</td>-->
                    <td>
                        @sp.SoLuong
                    </td>
                    <td>
                        <img src="@sp.HinhAnh"
                             alt="@sp.TenSanPham"
                             width="60">
                    </td>
                    <td style="text-align: center; font-size: 17px">
                        @sp.TrangTHai
                        @if (@sp.TrangTHai == 2)
                        {
                            <i class="fa fa-check" aria-hidden="true" style="color: #0a7f7f"></i>
                        }
                        else if(@sp.TrangTHai == 1) {
                            <i class="fa fa-exclamation-circle" aria-hidden="true"
                               style="color: #ff8e27">
                            </i>
                        }
                        else{ <i class="fa fa-ban" aria-hidden="true" style="color: #de1d18"></i>}
                    </td>
                    <td style="text-align: center; font-weight: 700">
                        @if (@sp.Loai == 2)
                        {
                            <span style="color: #de8f04">Sale</span> 
                        }
                        else if (@sp.Loai == 1)
                        {
                            <span style="color: #de1d18">Hot</span>
                        }
                        else
                        {
                            <span style="color: #31de21">New</span>
                        }
                    </td>
                    <td style="text-align: center">
                        <a
                            href="#"
                            class="btn default btn-xs purple btn-edit">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                    <td style="text-align: center">
                        <a data-toggle="modal" data-target="#"
                           class="btn default btn-xs black btn-delete">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <div id="#" class="modal fade modal-confirm" role="dialog">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p class="text-content">Xác nhận xóa sản phẩm <em>#</em></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" onclick="return location.href='#'">Xác nhận</button>
                                        <button type="button" class="tbn-cancle" data-dismiss="modal">Hủy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }


            </tbody>
        </table>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>