@using Web2020Project.Model
@using Web2020Project.Website.Model
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/Home/_HeaderSimple.cshtml";
}
<section id="body">
    <div id="frame-cart">
        <div class="container d-flex">
            <div id="info-product">
                <div class="title-top space-between">
                    @{
                        Cart gh= Session["giohang"] as Cart;
                    }
                    <div class="title-ic">
                        <span><i class="fa fa-shopping-cart"></i>Giỏ hàng của bạn(có</span>
                        <span id="count-pro">@(gh != null ?gh.TotalItem(): 0 ) sản phẩm)</span>
                    </div>
                    <a href="/Home/Index">Tiếp tục mua hàng</a>
                </div>
                <div class="contain-product">
                    <ul>
                        @{
                            if (gh !=null && gh.Item.Count > 0)
                            {
                                foreach (Item item in gh.Item)
                                {
                                    <li class="item-cart">
                            <div class="d-flex">
                                <div class="img-pro">
                                    <a
                                        href="/Home/Product">
                                        <img src="/Content/@(item.Product.Picture)" alt="hinh-minh-hoa"/>
                                    </a>
                                </div>
                                <div class="tit-cou">
                                    <h5>@item.Product.ProductName</h5>
                                    <div class="d-flex align-i-center">
                                        <span class="count">Số lượng:</span>
                                        <div class="frame-num d-flex">
                                            <button class="subject">-</button>
                                            <input type="number" class="number-pro" value="@(item.Amount)"
                                                   min="1" required>
                                            <button class="plus">+</button>
                                            <input type="hidden" class="msp"
                                                   value="@(item.Product.ProductId)">
                                        </div>
                                        <span class="upgrade"><i class="fa fa-upload" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="price-pro flex-direction-col">
                                <div class="flex-direction-col">
                                    <span class="price"> @string.Format("{0:0,0}", item.Price)  đ</span>
                                    <span>(Giá đã bao gồm VAT)</span>
                                </div>
                                <input type="hidden" class="msp-trash" value="@(item.Product.ProductId)">
                                <input type="hidden" class="tensp-trash" value="@(item.Product.ProductName)">
                                <span class="trash"><i class="fa fa-trash" aria-hidden="true"></i></span>
                            </div>
                        </li>
                                }
                            }
                            else
                            {
                                <div class="cart-empty">Không có gì trong giỏ hàng.</div>
                            }
                        }
                        
                    </ul>
                </div>
                <div class="payment space-between">
                    <div class="total d-flex align-i-center">
                        @if (gh.Item.Count > 0)
                        {
                            <h5>TỔNG CỘNG</h5>
                            <span id="total"> @string.Format("{0:0,0}", gh.TotalPrice())  đ</span>
                        }
                    </div>
                    @if (gh != null && gh.Item.Count > 0)
                    {
                        Member member = Session["memberLogin"] as Member;
                        if (member != null)
                        {
                            <button onclick="return location.href='PaymentController'" id="btn-submit">ĐẶT HÀNG</button>
                        }
                        else
                        {
                            <button data-toggle="modal" data-target="#checkout" id="btn-submit">ĐẶT HÀNG</button>
                            <div id="checkout" class="modal fade modal-confirm" role="dialog">
                                <div class="modal-dialog modal-sm">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <p class="text-content">Đăng nhập để thực hiện đặt hàng!</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" onclick="return location.href='/Home/Login'" class="btn-cf">Đăng nhập</button>
                                            <button type="button" class="tbn-cancle" data-dismiss="modal">Hủy</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    
                    
                </div>
            </div>
            <div id="info-user">
                <div class="title-top title-ic">
                    <span>Thông tin nhận hàng</span>
                </div>
                <div class="form-info form-cart">
                    <form id="form-validate" class="form-style" action="#">
                        <div>
                            @{
                                Member members = Session["memberLogin"] as Member;
                            }
                            <span>Họ và Tên:</span>
                            <input type="text" id="name" name="name" value="@(members !=null? members.Name:"")"
                                   disabled>
                        </div>
                        <div>
                            <span>Số điện thoại:</span>
                            <input name="phone" id="phone" type="number" value="@(members !=null? members.Phone:"")" disabled>
                        </div>
                        <div>
                            <span>Địa chỉ Email:</span>
                            <input type="text" id="email" name="email" value="@(members !=null? members.Email:"")" disabled>
                        </div>
                        <div>
                            <span>Địa chỉ:</span>
                            <input type="text" id="address-oder" name="address-oder" value="@(members !=null? members.Address:"")"
                                   disabled>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/Content/assets/js/cart2.js"></script>
</section>