@using Web2020Project.Model


@{
    ViewBag.Title = "News Detail";
    Layout = "~/Views/Shared/Home/_Header.cshtml";
}

<section id="body">
    <div id="news-detail" class="bg-news">
        <div class="container">
            <div class="content-news justify-space-between">
                @{
                    if (@Model != null)
                    {
                        <div class="content-post">
                            <h5 id="title-news">@Model.Title</h5>
                            <span class="date">@Model.DateOfWriting</span>
                            <div class="content-left">@Model.Content
                                <div class="author"><b>Theo: </b><span>ATM</span></div>
                            </div>

                        </div>
                        
                    }
                    else
                    {
                        Server.Transfer("News");
                    }
                }
                <div class="frame-hot-post">
                    <div class="hot-post">
                        <h5>BÀI VIẾT NỔI BẬT</h5>
                        <div class="content-right">
                            @{
                                
                                    if (Session["listNews"] != null)
                                    {
                                        List<News> listNews = Session["listNews"] as List<News>;
                                        for (int i = 0; i < 16; i++)
                                        {
                                            News news = listNews[i];
                                            <div class="news-text-img-subs">
                                                <a href="/Home/New_Detail?idNew=@news.NewsId">
                                                    <div class="img-news">
                                                        <img src="/Content/@news.Picture" alt="images"/>
                                                    </div>
                                                    <figure>
                                                        <div class="text-news">@news.Title</div>
                                                        <span class="date">@news.DateOfWriting</span>
                                                        <p class="content-sale">@news.Description</p>
                                                    </figure>
                                                </a>
                                            </div>
                            
                                        }
                                    }
                                
                            }
                            
                            
                        </div>
                    </div>
                    <div class="social">
                        <h5>THEO DÕI ATM TRÊN SOCIAL</h5>
                        <div class="icon-social d-flex justify-content-around">
                            <div class="ss-facebook justify-center">
                                <i class="fa fa-facebook"></i>
                                <span>FACEBOOK</span>
                            </div>
                            <div class="ss-youtube justify-center">
                                <i class="fa fa-youtube-play"></i>
                                <span>YOUTUBE</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
