@using Web2020Project.Model

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/Home/_Header.cshtml";
}
@{
    int count_seart = Session["count_sear"] != null ? Convert.ToInt32(Session["count_sear"]) : 0;
    string key = Session["key"] != null ? Session["key"] as string : "";
    string sort = Session["active"] != null ? Session["active"] as string : "";
    string pages = Session["page"] != null ? Session["page"] as string : "";
    string producers = Session["producer"] != null ? Session["producer"] as string : "";
}

<section id="body">
    <div id="products">
        <div class="container">
            <div id="main-products">

                @{
                    if (producers != "")
                    {
                        <div class="banner-product">
                            <img src="/Content/assets/img/banner/banner_@(producers).png" alt="images"/>
                        </div>
                    }
                }
                <div class="product-child box-shadow hover-ab">
                    @{
                        if (count_seart != 0 && key != "")
                        {
                            <div class="result-sear">
                                <h4>Tìm thấy<strong class="count_sear">@count_seart</strong>kết quả</h4>
                            </div>
                            Session.Remove("count_sear");
                            Session.Remove("key");
                        }
                    }
                    <div class="sort">
                        @{
                            if (key == "")
                            {
                                <a href="/Home/Category?cate=@producers&page=@pages"
                                   class="click-sort @(sort == "" ? "active" : "")">
                                    Mới nhất
                                </a>
                                <a href="/Home/Category?cate=@producers&type=asc&page=@pages"
                                   class="click-sort click-sort @(sort != "" && sort.Equals("asc") ? "active" : "")">
                                    Giá: Thấp - Cao
                                </a>
                                <a href="/Home/Category?cate=@producers&type=desc&page=@pages"
                                   class="click-sort click-sort @(sort != "" && sort.Equals("desc") ? "active" : "")">
                                    Giá: Cao - Thấp
                                </a>
                            }

                        }
                    </div>
                    <ul class="homeproduct filter-cate ">

                        @{
                            if (Session["category"] != null)
                            {
                                List<ProductDetail> p_detail = Session["category"] as List<ProductDetail>;

                                foreach (ProductDetail productDetail in p_detail)
                                {
                                    <li>
                                        <a href="/Home/Product_Detail?id=@productDetail.Product.ProductId">
                                            <img src="/Content/@productDetail.Product.Picture" alt="images">
                                            <h3>
                                                @productDetail.Product.ProductName
                                            </h3>
                                            <div class="price">
                                                @if (productDetail.Product.Price < productDetail.Product.SalePrice)
                                                {
                                                    <span>@string.Format("{0:0,0}", productDetail.Product.SalePrice) đ</span>
                                                    <strong>@string.Format("{0:0,0}", productDetail.Product.Price) đ </strong>
                                                }
                                                else
                                                {
                                                    <strong>@string.Format("{0:0,0}", productDetail.Product.Price) đ </strong>
                                                }
                                            </div>
                                            <div class="ratingresult">
                                                @if (productDetail.Rate == 4.0)
                                                {
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: darkgray"></i>
                                                }
                                                else if (productDetail.Rate == 4.5)
                                                {
                                                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: darkgray"></i>
                                                }
                                                else if (productDetail.Rate == 5.0)
                                                {
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-star" aria-hidden="true" style="color: darkgray"></i>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: darkgray"></i>
                                                }
                                                <span>@(productDetail.Rate) đánh giá</span>


                                            </div>
                                            <div class="promo noimage">
                                                @if (productDetail.Gift != null)
                                                {
                                                    <p>@productDetail.Gift</p>
                                                }
                                            </div>
                                            <figure class="bginfo">
                                                <span>@productDetail.Technical.Screen</span>
                                                <span>@productDetail.Technical.OperatingSystem</span>
                                                <span>@productDetail.Technical.Cpu</span>
                                                <span>@productDetail.Technical.Ram</span>
                                                <span>@productDetail.Technical.Camera</span>
                                                <span>@productDetail.Technical.Pin</span>
                                            </figure>
                                            @if (productDetail.Product.Price < productDetail.Product.SalePrice)
                                            {
                                                <label class="discount">
                                                    GIẢM @string.Format("{0:0,0}", productDetail.Product.SalePrice - productDetail.Product.Price) +"đ"
                                                </label>
                                            }


                                        </a>
                                        <div class="btnbuy justify-center">
                                            <div class="hover-btn-cart">
                                                <input type="hidden" class="msp-ajax" value="@productDetail.Product.ProductId">
                                                <button class="btn_buynow buy-ajax">Thêm vào giỏ<i class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        }
                    </ul>
                    @{
                        if (key == "")
                        {
                            <div class="container pagina">
                                <div class="pagination" id="pagination"></div>
                            </div>
                            <input type="hidden" id="countPages" value="44">
                            <input type="hidden" id="producer" value="samsung">
                            <input type="hidden" id="page" value="1">
                            <input type="hidden" id="sort" value="0">
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <script src="/Content/assets/js/pagination/jquery.twbsPagination.min.js" type="text/javascript"></script>
    <script src="/Content/assets/js/addToCart_AJAX2.js" type="text/javascript"></script>
    <script>
    </script>
    @if (key == "")
    {
        <script type="text/javascript">
        $(function () {
            let pages = parseInt($('#page').val());
            let countPage = parseInt($('#countPages').val());
            let totalPages = parseInt((countPage / 8).toString());
            let producer = $('#producer').val().toLowerCase();
            let sort = $('#sort').val();
            $('#pagination').twbsPagination({
                totalPages: totalPages,
                startPage: pages,
                visiblePages: totalPages - 1,
                onPageClick: function (event, page) {
                    if (page !== pages) {
                        if (sort === "") {
                            return location.href = "http://localhost:8080/DienThoai?cate=" + producer + "&page=" + page;
                        } else {
                            return location.href = "http://localhost:8080/DienThoai?cate=" + producer + "&type=" + sort + "&page=" + page;
                        }
                    }
                }
            });
        });
    </script>
    }
</section>