@using Web2020Project.Model

@{
    @ViewBag.Title
    Layout = "~/Views/Shared/Admin/_FramesFull.cshtml";
}
@section jsFooter{
    <script>
                $('#picture').on('click', function(e){
                    e.preventDefault();
                    var finder = new CKFinder();
                    finder.selectActionFunction = function(url){
                         $('#picture').val(url);
                    };
                finder.popup();
                });
                var editor = CKEDITOR.replace('content',{
                    customConfig: '/Content/assets/ckeditor/config.js'
                })
    </script>
}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-bar page-header">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="/Admin/Index_Admin">Home</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="#">Danh mục</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="/News/News_Manage">Quản lý tin tức</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-heading  d-flex">
                        <div>
                            <i class="fa fa-newspaper-o"></i>
                            Tin tức
                        </div>
                        <a class="add " data-toggle="modal" data-target="#myModal" href="#">
                            <div id="add" class="">
                                <i class="fa fa-plus"></i>
                                <span>Thêm mới</span>
                            </div>
                        </a>
                        <div id="myModal" class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">THÊM TIN TỨC</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div id="update-info" class="like-form">
                                            <form id="form-validate" class="form-style" action="/News/News_Manage"
                                                  method="post" enctype="multipart/form-data">
                                                <input type="hidden" name="action" value="add">
                                                <ul class="row">
                                                    <li class="row">
                                                        @{ News news_ss = Session["news"] as News;}
                                                        <div class="col-sm-12 col-xs-6">
                                                            <input type="text" id="title" name="title" value="@(news_ss!=null?news_ss.Title:"")" 
                                                                   minlength="1" required>
                                                            <label for="title">Tiêu đề<span>*</span></label>
                                                        </div>
                                                    </li>
                                                    <li class="row">
                                                        <div class="col-sm-12 col-xs-6">
                                                            <textarea id="description" name="description"
                                                                          placeholder="Nhập nội dung..." maxlength="190"
                                                                          required></textarea>
                                                            <label for="description" class="mg-area">Mô tả</label>
                                                        </div>
                                                    </li>
                                                    <li class="row">
                                                        <div class="col-sm-4 col-xs-6">
                                                            <select id="kind" name="kind">
                                                                @if (news_ss != null && news_ss.Kind.Equals("Tin tức mới"))
                                                                {
                                                                    <option value="0">Tin tức mới</option>
                                                                    <option value="1">Tin tức KM</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="1">Tin tức KM</option>
                                                                    <option value="0">Tin tức mới</option>
                                                                }
                                                            </select>
                                                            <label for="kind" class="level-span">Type</label>
                                                        </div>
                                                        <div class="col-sm-4 col-xs-6">
                                                         <input type="text" id="picture" name="picture" placeholder="Chọn ảnh..." value="">
                                                            <label for="picture">Ảnh mô tả</label>
                                                        </div>
                                                        <div class="col-sm-4 col-xs-6">
                                                            <input type="date" id="dateOfWriting"
                                                                   name="dateOfWriting">
                                                            <label for="dateOfWriting" class="level-span">
                                                                Ngày
                                                                viết
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class="row">
                                                        <div class="col-sm-12 col-xs-6">
                                                            <textarea id="content" name="content"></textarea>
                                                            <label for="content" class="mg-area">Nội dung</label>
                                                        </div>
                                                    </li>

                                                </ul>
                                                <div class="btn-submit">
                                                    <button type="submit" id="update-btn">Thêm</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                     @RenderPage("~/Views/Shared/Admin/_Dialog.cshtml")
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tiêu đề</th>
                                    <th>Ngày viết</th>
                                    <th>Loại</th>
                                    <th class="remove">Sửa</th>
                                    <th class="remove" style="text-align: center">Xóa</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (News news in Model)
                                {
                                    <tr class="odd gradeX">
                                        <td>
                                            @news.NewsId
                                        </td>
                                        <td>
                                            @news.Title
                                        </td>
                                        <td>
                                            @news.DateOfWriting    
                                        </td>
                                        <td style="text-align: center; font-weight: 700">
                                            <span style="color: #31de21">Mới</span>
                                        </td>
                                        <td class="center">
                                            <a
                                                href="/News/News_Update?newsID=@news.NewsId"
                                                class="btn default btn-xs purple btn-edit">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                        <td style="text-align: center">
                                            <a data-toggle="modal" data-target="@("#" + news.NewsId)"
                                               class="btn default btn-xs black btn-delete">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                            <div id="@news.NewsId" class="modal fade modal-confirm" role="dialog">
                                                <div class="modal-dialog modal-sm">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <p class="text-content">Xác nhận xóa tin tức</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" onclick="return location.href='/News/Delete_News?newsID=@news.NewsId'" class="btn-cf">Xác nhận</button>
                                                            <button type="button" class="tbn-cancle" data-dismiss="modal">Hủy</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>